.cart {
  height: 100vh;
  width: 35vw;
  background-color: white;

  display: flex;
  flex-direction: column;
}

.cart-itmes {
    height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  overflow-y: auto;
}

.cart-itmes::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

.cart-itmes::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: #888787;
  border-radius: 10px;
}

.cart-heading {
  font-size: 2rem;
  background-color: black;
  color: white;
  fill: white;
  padding: 3rem 0;

  display: flex;
  align-items: center;
  gap: 2rem;
}

.cart-heading button {
  border: none;
  background: none;
  padding: 0 2rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.total {
  font-size: 2rem;
  font-weight: 600;
  border-top: 2px solid black;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
}

.view-cart-btn {
  padding: 2rem;
  width: 100%;
}

.view-cart-btn button {
  width: 100%;

  border: none;
  background-color: black;
  color: white;
  padding: 1rem 2rem;
}

.cart p {
  font-size: 2rem;
  text-align: center;
}


@media (max-width:990px){
  .cart{
    width: 40vw;
  }
}