.each-card {
  flex: 0 0 auto; /* for horizontal scroll */
  background-color: rgb(212, 246, 212);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 1rem;
}

.card-img {
  width: 100%;
  height: 50%;
}

.card-img img {
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.card-des {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  gap: 1.5rem;
}

.card-des h4 {
  font-size: 1.6rem;
}

.card-des > span {
  font-size: 1.2rem;
  font-weight: 500;
}

.original-cost {
  text-decoration: line-through;
  font-size: 1.3rem;
  font-weight: 600;
  color: rgb(87, 86, 86);
}

.offer-cost {
  font-size: 1.6rem;
  font-weight: 600;
}

.add-cart-btn {
  width: 100%;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

  transition: all 0.3s;
}

.plus-btn,
.minus-btn {
  width: inherit;
  font-size: 1.6rem;
  font-weight: 600;
  font-family: inherit;

  border: 1.5px solid darkgreen;
  border-radius: 3rem;
  padding: 0.7rem 1.4rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.minus-btn,
.hide-quantity {
  display: none;
}

.add-cart-btn svg {
  width: 1.3rem;
}

/* item added */

.item-added button {
  width: auto;
}

.item-added.add-cart-btn{
  justify-content: center;
}

.item-added .hide-quantity {
  display: block;
}

.item-added .minus-btn {
  display: flex;
}

.item-added .plus-btn span {
  display: none;
}
