.each-card {
  flex: 0 0 auto; /* for horizontal scroll */
  background-color: rgb(212, 246, 212);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 1rem;
}

.card-img {
  width: 100%;
  height: 50%;
}

.card-img img {
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.card-des {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  gap: 1rem;
}

.card-des h4 {
  font-size: 1.6rem;
}

.card-des > span {
  font-size: 1.2rem;
  font-weight: 500;
}

.original-cost {
  text-decoration: line-through;
  font-size: 1.3rem;
  font-weight: 600;
  color: rgb(87, 86, 86);
}

.offer-cost {
  font-size: 1.6rem;
  font-weight: 600;
}

.quantity {
  font-size: 2.5rem;
  background-color: white;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quantity button {
  font-size: inherit;
  border: none;
  background: none;
  padding: 0.5rem 1rem;
}

.add-cart-btn {
  border: none;
  background-color: darkgreen;
  color: white;
  border-radius: 8px;
  padding: 1rem 2rem;
}
