.weekly-deals{
    background-color: rgb(235, 235, 225);
}

.weekly-deals,.deals-sec{
    width: 100%;
    text-align: center;
    padding: 2rem 0;
}


.weekly-slider{
    display: flex;
}

.weekly-slider > button{
    border: none;
    background: none;
    padding: 0 1rem;
}

.weekly-slider ::-webkit-scrollbar {
  display:none;
}

.larger-cards {
    width: 30rem;
    height: 38rem;
}

.smaller-cards{
    width: 100%;
    height: 38rem;
}

.deals-sec{
    padding: 2rem 10rem;
}

.weekly-deals p, .deals-sec p{
    font-size: 2rem;
    margin-bottom: 3rem;
}

.home-sec h2{
    font-size: 3.5rem;
    margin-bottom: 1.5rem;
}

.Super-deals-sec{
    width: 100%;
    display: flex;
    gap: 2rem;
    overflow-x: scroll;
    scroll-snap-type: inline mandatory;
    scroll-behavior: smooth;
}

.Super-deals-sec > *{
    scroll-snap-align: start;
}

.deals-sec-cards{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    place-items: center;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}